<html>
    <head>
        <title>Chat App</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/index.js" defer></script>

    </head>
    <body>
        <div class="container">
            <ul id="message-list"></ul>

            <div class="messageInputs">
                <textarea type="text" id="message-input"></textarea>
                <button id="send-button">Send</button>
            </div>
        </div>
    </body>
</html>